/* milestones 1 and 2 */
.text{
    margin: auto;
    width: 850px;
    padding: 50px;
    font-family: "Century Gothic", sans-serif;
    color: #324A6B;
}

.wire {
    text-align: center;
}

/* main html project */
.aboutMe {
    background-color: #F7F7F3;
}
.headshot {
    height: 450px;
}

.footer {
    background-color: #F7F7F3;
}

.graphicDesign {
    background-color: #F7F7F3;
}

.navbar {
    background-color: #F7F7F3;
}

.logo {
    width: 50px;
}

h2 {
    font-family: 'Cooper Black', sans-serif;
}